@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@utility title {
	@apply absolute top-[3%] left-[2%] text-[200%] text-white;
}

@utility c-no-drag-icon {
	/* アイコン画像のドラッグを無効にする */
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}
